@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:500,700,900,&display=swap');

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

a:hover {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

img {
   vertical-align: top;
}

html,
body {
   height: 100%;
}

body {
   line-height: 1;
}

li {
   list-style: none;
}

main {
   min-height: 100%;
   height: 100%;
}

.wrapper {
   min-height: 100%;
   height: 100%;
   overflow-x: hidden;
}

.order-summary {
   min-height: 100%;
   height: 100%;
   display: flex;
   background: hsl(225, 100%, 94%) url("../images/pattern-background-desktop.svg") no-repeat top / contain;
   padding: 15px;
}

.order-summary-card {
   margin: auto;
   max-width: 450px;
   min-width: 450px;
   border-radius: 20px;
   overflow: hidden;
   font-size: 16px;
   font-family: "Red Hat Display", sans-serif;
   font-weight: 500;
   color: hsl(224, 23%, 55%);
   background-color: hsl(0, 0%, 100%);
}

.order-summary-img {
   width: 100%;
}

.order-summary__container {
   padding: 50px;
}

.order-summary-title {
   font-size: 22px;
   text-align: center;
   font-weight: 900;
   margin-bottom: 26px;
   color: hsl(223, 47%, 23%);
}

.order-summary-description {
   text-align: center;
   line-height: 25px;
   margin-bottom: 25px;
}

.order-summary-plan {
   border-radius: 10px;
   background-color: hsl(225, 100%, 98%);
   padding: 25px;
   margin-bottom: 30px;
}

.plan-img {
   margin-right: 20px;
}

.plan-price {
   display: inline-block;
   text-align: center;
   line-height: 24px;
}

.plan-name {
   color: hsl(223, 47%, 23%);
   display: block;
   font-weight: 700;
}

.order-summary-change {
   float: right;
   line-height: 48px;
   color: hsl(245, 75%, 52%);
   font-size: 10px;
   font-weight: 700;
}

.order-summary-change:hover {
   color: hsl(245, 75%, 72%);
}

.order-summary__btn {
   background-color: hsl(245, 75%, 52%);
   min-width: 100%;
   border-radius: 16px;
   min-height: 50px;
   color: hsl(225, 100%, 94%);
   /*color:hsl(225, 100%, 98%);*/
   /*color:hsl(224, 23%, 55%);*/
   /*color:hsl(223, 47%, 23%);*/
   font-size: 12px;
   font-weight: 700;
   margin-bottom: 35px;
   box-shadow: 0 20px 20px 0 hsla(245, 75%, 72%, 0.7);
}

.order-summary__btn:hover {
   background-color: hsl(245, 75%, 72%);
}

.order-summary-cancel {
   text-align: center;
   display: block;
   color: hsl(245, 75%, 52%);
   font-size: 10px;
   font-weight: 700;
   color: hsl(224, 23%, 55%);
}

.order-summary-cancel:hover {
   color: hsl(224, 23%, 25%);
}

@media (max-width: 479px) {
   .order-summary {
      background: hsl(225, 100%, 94%) url("../images/pattern-background-mobile.svg") no-repeat top / contain;
   }

   .order-summary-card {
      max-width: 327px;
      min-width: 327px;
   }

   .order-summary__container {
      padding: 37px 25px;
   }

   .order-summary-plan {
      padding: 15px;
   }

}